body {
    font-family: monospace;
}
.header {
    display: flex;
}

.header h1 {
    flex: 1;
}

.header a {
    background: transparent;
    border: none;
}

.header a:hover {
    opacity: 0.5;
}

.header a .icon {
    fill: #3880ff;
    width: 50px;
    height: auto;
}

#productsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.note {
    width: 100%;
    max-width: 300px;
    background-color: #E0E0E0;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#addNoteButton {
    display: block;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
}